#contact{
    @include container;
    background: linear-gradient(90deg, rgba(255,134,193,1) 15%, rgba(255,203,239,0.7651435574229692) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        height: auto;
        width: 23vw;
        position: relative;
        right: 200px;
        top: 50px;
        border-radius: 30px;
        border: 3px solid $principal_color;
    }
}

.form{
    position: relative;
    top: 50px;
    left: 40px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title{
    @include style-4;
    //font-size: 100px;
    font-size: 6vw;
    font-weight: bold;
    margin-bottom: 50px; 
}

//btn reposo
.btn-submit{
    @include btn-style;
    color: $principal_color;
    margin-top: 20px;
    font-weight: bold;
    transition: 0.01s;
}
//btn active

.btn-submit:active{
    transition: 0.01s;
    transform: translate(2px, 2px);
    box-shadow: 0px 0px;
}

//reposo

.campo{
    padding-top: 22px;
}

.campo label{
    display: block;
    @include style-2;
    color: $light-gray;
    font-weight: bold;
    width: 400px;
    border: 3px solid $principal_color;
    border-radius: 15px;
    background: $white;
    padding: 8px 10px;
    position: relative;
    box-sizing: border-box;
    transition: .25s;
    
}

.campo input, textarea{
    border: none;
    outline: none;
    background: transparent;
    display: block;
    @include style-2;
    color: $dark-gray;
    width: 100%;
}

.campo span{
    color: $principal_color;
    position: absolute;
    left: 10px;
    top: 8px;
    transition: .25s;
}

// Focus

.campo label.focus{
    border-color: $principal_color;
}

.campo span.focus{
    color: $dark-gray;
}

// Top

.campo span.top{
    left: 15px;
    top: -20px;
    font-size: 12px;
    color: $white;
}